    *{
  box-sizing: border-box;
}
    body,html{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 24px;
        background-color: rgb(53, 53, 53);
        color:white;
    }
    .logo{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo *{
        display: inline-block;
        font-size: 36px;
        font-style: italic;
        color:red;
    }
    .logo *:last-child{
        border-right:1px solid white;
        padding-right: 5px;
    }
    .logo img{
        width: 86px;
    }
    .logo::selection{
        background-color: black;
    }
    nav{
        display: flex;
        align-items: center;
        background-color: black;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: sticky;
        top: 0;
        z-index: 1000;
            margin-bottom: 30px;
            border-bottom: 1px solid white;
    }
    nav a{
            transition: all ease 0.3s;
        padding-right: 20px;
        border-right: 1px solid white;
        margin-left: 20px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    nav a:hover{
        transition: all ease 0.3s;
        color:gold;
    }
    div.main{
                box-sizing: border-box;
        border: 1px solid white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        font-family: sans-serif;
        width: 990px;
        background-color: black;
    }
        div.main span{
            font-style: italic;
            font-size: 24px;
            text-align: center;

    }
    pre{
            white-space: pre-wrap;      /* Satırları kır */
        word-wrap: break-word;      /* Uzun kelimeleri böl */
        overflow-wrap: break-word;  /* Modern tarayıcılar */
        max-width: 100%;            /* Ekranı geçmesin */
        box-sizing: border-box;

        font-family: inherit;       /* monospace olmasın */
        font-size: 17px;
        line-height: 1.6;

        padding: 20px;
    }
    div.info{
        border: 1px solid white;
                border-bottom:none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
        width: 990px;
        margin: 0 auto;
        display: flex;
        background-color: rgb(29, 29, 29);
        box-sizing: border-box;
    }
    div.info h1{
        margin-top: 5px;
        margin-bottom: 2px;
    }
    div.info span{
        font-style: italic;
    }
    div.column{
        display: flex;
        flex-direction: column;
    }
    div.info img{
        padding: 15px;
    }
    div.navigate{
        gap: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid rgb(255, 255, 255);
        padding: 30px;
        background-color: black;
        border-radius: 15px;
        margin: 0 auto;
                margin-top: 5px;
        width: 990px;
        box-sizing: border-box;
    }
    .navigate button{
        transition: all 0.3s;
        margin-top: 50px;
        background-color: bisque;
        color:black;
        border: 1px solid gray;
        font-size: 24px;
        padding: 10px;
        border-radius: 8px;
    }
    .navigate button:hover{
        transition: all 0.3s;
        cursor: pointer;
        background-color: brown;
    }
    .navigate button:active{
            transition: all 0.3s;
              transform: scale(0.9);
    }
    @media (max-width:768px) {
        div.main{
            width: 100%;
        }
        div.info{
            font-size: 11px;
            width: 100%;
        }
        .logo *{
            flex-wrap: wrap;
            font-size: 15px;
            width: 36px;
        }
        nav{
                        position: sticky; 
            padding-bottom: 15px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 15px;
            flex-wrap: wrap;
            align-items: center;
        }
        .logo,nav a,p,img{
            border:none;
        }
        .logo *{
            border:none;
        }
        div.navigate
        {
            box-sizing: border-box;
           width:100%
        }
        .navigate button{
            width: 50%;
        }
            .logo *:last-child{
        border-right:none;
        padding-right: 5px;
    }
        .genel,.citler,.cilter{
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            width: 100%;
        }
        div.genel{
            width: 100%;
    }
        div.ciltler{
            max-width: 990px;
            width: 100%;
        }
        div.ciltler .row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        div.ciltler .row div{
            width: 100%;
        }
        div.banner{
            display: none !important;
        }
    }

    .new{
        color: rgb(255, 145, 0);
    }
    div.ciltler{
        border: 1px solid rgb(255, 255, 255);
        margin:0 auto;
        background-color: rgb(29, 29, 29);
        border-radius: 15px;
        width: 990px;
        box-sizing: border-box  ;
    }
    div.row{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        display: flex;
    }
    div.row div.img img{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 158px;
    }
    div.row div.img{
        transition: all ease 0.3s;
        border-radius: 8px;
        border: 3px solid gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    div.row div.img:hover{
        cursor: pointer;
    }
    div.row div.img:active{
        transition: all ease 0.3s;
        transform: scale(0.9);
    }
    .genel{
        padding: 5px;
        font-size: 20px;
        border: 1px solid white;
                border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        align-items: center;
        width: 990px;
        margin: 0 auto;
        display: flex;
        background-color: rgb(29, 29, 29);
        box-sizing: border-box;
    }
    .info a{
        transition:all ease 0.3s;
        color: wheat;
        text-decoration: none;
        font-weight: bold   ;
        width: 120px;
        height: 20px;
    }
    .info a:hover{
        transition: all ease 0.3s;
        color: blue;
    }
    div.main span{
        border: 1px solid white;
        width: 100%;
        display: block;
        background-color: black;
        position: sticky;
        z-index: 1000;
        top: 115px;
    }
    div.banner{
        border: 1px solid white;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        flex-direction: column;
        background: linear-gradient(rgba(59, 59, 59, 0.753), rgba(141, 0, 0, 0.651)),
                        url(banner.jpg);
        width: 990px;
        height: 558px;
        display: flex;
        margin: 0 auto;
                margin-top: 30px;
        margin-bottom: 30px;
    }
    div.banner h2{
        margin-bottom: 0px;
        padding-top: 50px;
    }